middleman/flows.json
[
    {
        "id": "a109dbad.feec48",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "edeb11ea.f0def",
        "type": "mqtt-broker",
        "z": "",
        "name": "broker",
        "broker": "broker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5e3e7632.b4d458",
        "type": "debug",
        "z": "a109dbad.feec48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "4519c18a.5c57c",
        "type": "mqtt in",
        "z": "a109dbad.feec48",
        "name": "",
        "topic": "surf/rideable",
        "qos": "2",
        "datatype": "auto",
        "broker": "edeb11ea.f0def",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "13413e5c.e5a592"
            ]
        ]
    },
    {
        "id": "13413e5c.e5a592",
        "type": "switch",
        "z": "a109dbad.feec48",
        "name": "rideable",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 440,
        "wires": [
            [
                "83622c47.337a2"
            ],
            []
        ]
    },
    {
        "id": "3dd225cf.63d74a",
        "type": "mqtt in",
        "z": "a109dbad.feec48",
        "name": "",
        "topic": "surf/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "edeb11ea.f0def",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "5e3e7632.b4d458"
            ]
        ]
    },
    {
        "id": "83622c47.337a2",
        "type": "http request",
        "z": "a109dbad.feec48",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/ratSignal/with/key/$KEY_GOES_HERE$",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 440,
        "wires": [
            [
                "5e3e7632.b4d458"
            ]
        ]
    }
]